<div class="container">
    <div class="col-sm-4 col-md-4 col-lg-4 mb-4">
        <app-update-marques  
        (marqueUpdated)= "marqueUpdated($event)"  
        [marque]="updatedMaq"
        (cancelEvent)="onCancel()" 
        [ajout]="ajout" ></app-update-marques>
</div>
    <div class="card shadow mb-4">
        <div class="card-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom Marque</th>
                    </tr>
                </thead>
                <tbody *ngFor="let marq of marques">
                    <tr>
                        <td>{{marq.id}}</td>
                        <td>{{marq.nom}}</td>
                        <td><a class="btn btn-success"  (click)="updateMaq(marq)">Editer</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>